* {
  box-sizing: border-box;
}

body { 
  	font-family: Calibri;  
  	padding-top: 10%;
  	padding-left: 10%;
  	padding-right: 10%;
  	color: #7f7f7f;
  	background-color:#f5f5ff;
} 

h1 + p {
	color: #6f809a;
}

.information {
	width: 23%;
	float:left;
	text-align: center;
}

.information h2 {
	color: #6f809a;
   	border-bottom: 1px solid #6f809a; 
   	line-height: 0.1em;
  	margin: 10px 0 20px; 
} 

.information h2 span { 
    background:#f5f5ff; 
    padding:0 0.4em;
}

.information p {
	padding top: 2%;
	padding-bottom: 4%;
}

.center {
    display: block;
    margin: auto;
    padding-bottom: 12px;
}

.cv {
	width: 77%;
	float:left;

}

.cv h1 {
	color: #6f809a;
	font-style: italic;
	margin: auto;
	margin-top: 5%;
  	margin-left: 10%;
  	margin-bottom: 7%;
}

.cv h2 {
	color: #6f809a;
   	text-align: center;
   	border-bottom: 1px solid #6f809a; 
   	line-height: 0.1em;
  	width:90%;
  	margin: auto;
  	margin-left: 10%;
}

.cv h2 span { 
    background:#f5f5ff; 
    padding:0 0.4em; 

}

.cv p {
	margin-top:5%;
	padding-bottom: 4%;
	margin-left: 10%;
	text-align: left;
}

.cv img {
	width:90%;
	margin: auto;
	margin-left:10%;
}

.align-right {
	float: right;
}

.lang {
    position: absolute;
    top: 10px;
    right: 10px
}

.lang a {
    text-decoration: none;
}

.lang a {
    font-size: 20px;
    color: #1c1c1c!important;
    padding: 3px
}

.lang a:hover {
    color: gray!important;
}

ul {
    padding: 0;
}

li {
	list-style-type: none;
	text-align: left;
}

a:link {
  	color: #0033cc;
    text-decoration: none;
}

a:visited {
  	color: #66ccff;
}

a:hover {
  	color: #0066ff;
}

@media (max-width: 1000px) {
  	.information {
    	float: none ;
    	width: 100% ;
  	}
  	.cv {
    	float: none;
    	width: 100% ;
    	margin-left:-5%!important;
  	}
   	body {
        padding: 0
    }
}
